---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <ul>
    <li><a href="https://twitter.com/noahh_ts">Twitter</a></li>
    <li><a href="https://github.com/noahhts">Github</a></li>
  </ul>
</footer>
